{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Todo App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'tasks:home' %}">Home</a></li>
        <li class="list-group-item"><a href="{% url 'tasks:tag-list' %}">Tag List</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>
